@charset "UTF-8";
/* CSS Document */
@import url('https://fonts.googleapis.com/css?family=Saira');

.content-wrapper {margin: 60px;}
.mypic img {width: 300px;
display: block;
margin: auto;}
.bio-wrapper {margin: 25px 180px 50px 180px;;}
hr {height: 5px;
    background-color: green;}
h1,h2 {text-align: center;
font-family:'Saira', sans-serif }
h3 {text-decoration: underline;
font-style: italic;}